project:
  type: website
  output-dir: docs

website:
  title: "Nicole's Website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - href: https://nicolehua34.github.io/blog
        text: Blog
      
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



